@import "__defaults";
@import "__colors";
@import "__variables";

.first-container {
    max-width: 100%;
    height: 120vh;
    background-image: url(../assets/photos/Stars\ Section\ 1\ BG\ -\ Home.png);
    background-size: 100%;
    // background: radial-gradient(31.83% 36.4% at 50% 46.22%, #AE7DFD 0%, rgba(92, 39, 160, 0.0104167) 50%);


    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;

        .logo {
            width: 172px;
            height: 37px;
        }

        .list {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                gap: 23px;

            }
        }

        .btn {
            button {
                border: none;
                background-color: transparent;
                width: 90px;
                height: 31px;

                &:hover {
                    background-color: $purple;
                    border-radius: 28px;
                }
            }
        }
    }

    .main {
        width: 80%;
        height: 88vh;
        margin: 6vh 10%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 50px;

        h2 {
            width: 862px;
            line-height: 102px;
            font-weight: 700;
            font-size: 70px;
            font-family: poppin;
            margin: 0 auto;
        }

        .input {
            width: 640px;
            border: 2px solid rgba(122, 77, 243, 1);
            height: 60px;
            border-radius: 12px;
            margin: 0 auto;
            box-shadow: 0px 1px 37px 0px rgba(151, 71, 255, 0.7);

            p {
                margin: 15px;
                font-family: IBM Plex Mono;
            }
        }

        .btn {
            margin: 0 auto;
            display: flex;
            gap: 20px;

            button {
                border: none;
                width: 95px;
                height: 31px;
                background-color: $purple;
                border-radius: 28px;
                font-family: poppinReg;
            }

            p {
                font-family: poppinReg;
                margin-top: 3px;

            }

        }

        .text-area {
            width: 98%;
            height: 513px;
            padding: 20px;
            font-family: IBM Plex Mono;
            line-height: 26px;
            border: 2px solid rgba(122, 77, 243, 1);
            border-radius: 5px;
            margin: 0 auto;

            span {
                color: red;
            }
        }

    }
}


//! second part

.second-container {
    .first-text {
        text-align: center;
        line-height: 47px;
        font-family: poppin;
        font-weight: 700;
        font-size: 36px;
        color: (#9747FF);
        width: 750px;
        margin: 30px auto;
        background: linear-gradient(270deg, #AE72FF 46.97%, #F2F2F2 93.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* For Firefox */
        background-clip: text;
        color: transparent;
    }

    .items {
        width: 90%;
        height: 120vh;
        margin: 0 auto;
        position: relative;

        .item-1 {
            width: (860px);
            height: (291px);
            border: 2.5px solid #533AB980;
            margin: 0 auto;
            border-radius: 10px;
            display: flex;
            padding: 50px;
            align-items: center;

            .logos {
                width: 316px;
                height: 133px;
                z-index: 1;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .code-section {
                width: 392px;
                height: 221px;
                position: relative;

                .under {
                    width: 320px;
                    height: 220px;
                    z-index: 2;
                    margin: 0 auto;
                    box-shadow: 0px 1px 11px 0px #7A4DF3CC;
                    border-radius: 6px;
                }

                .top {
                    position: absolute;
                    z-index: 3;
                    width: 392px;
                    height: 121px;
                    border: 5px solid #7A4DF3;
                    top: 45px;
                    box-shadow: 0px 1px 11px 0px #7A4DF3CC;
                    border-radius: 6px;
                    padding: 30px;

                    span {
                        font-family: IBM Plex Mono;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        color: #9B9B9B;
                    }

                    p {
                        font-family: IBM Plex Mono;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30px;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        .item-2 {
            position: absolute;
            box-shadow: 0px 0px 43px 0px #9747FF80;
            border: 2.5px solid #7A4DF3;
            width: 540px;
            height: 362px;
            bottom: 0;
            left: 0;
            display: flex;
            padding: 15px 70px;
            gap: 10px;

            ol {
                li {
                    font-family: IBM Plex Mono;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23.49px;
                    text-align: right;
                    color: #9B9B9B;

                }
            }

            p {
                font-family: IBM Plex Mono;
                font-size: 18px;
                font-weight: 400;
                line-height: 23.49px;
                text-align: left;

            }
        }

        .item-3 {
            position: absolute;
            box-shadow: 0px 0px 43px 0px #9747FF80;
            border: 2.5px solid #7A4DF3;
            width: 540px;
            height: 293px;
            bottom: 0;
            right: 0;
            display: flex;
            padding: 20px;

            p {
                font-family: IBM Plex Mono;
                font-size: 18px;
                font-weight: 400;
                line-height: 23.49px;
                text-align: left;

            }
        }

        .item-4 {
            background: #202428;
            border: 2.5px solid #DC6794;
            box-shadow: 0px -2px 28px 0px #9747FF4D;
            width: (200px);
            height: (50px);
            margin: 40px auto;
            text-align: center;
            color: #FEFEFE;
            font-family: IBM Plex Mono;
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
        }
    }
}


.third-container {
    width: 90%;
    margin: 100px 5%;

    .text-part {
        text-align: center;

        h2 {
            font-family: Poppin;
            font-size: 45px;
            font-weight: 700;
            line-height: 58.72px;
            background: linear-gradient(270deg, #AE72FF 46.97%, #F2F2F2 93.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            /* For Firefox */
            background-clip: text;
            color: transparent;
        }

        p {
            font-family: Poppin;
            font-size: 24px;
            font-weight: 600;
            line-height: 31.32px;
        }
    }

    .main-part {
        display: flex;
        flex-wrap: wrap;

        .item-1 {
            width: 45%;
            height: 340px;
            background-color: #242337 !important;
            border: 2.5px solid #7A4DF3;
            box-shadow: -4px 22px 56px 0px #9747FF80;
            margin: 70px;
            padding: 20px;

            p {
                background-color: #242337 !important;
                font-family: IBM Plex Mono;
                font-size: 15px;
                font-weight: 400;
                line-height: 17.57px;
                text-align: left;

            }
        }

        .item-2 {
            width: 40%;
            height: 340px;
            margin: 100px 10px;
            padding: 30px;

            h2 {
                //styleName: PoppinReg/Semi Bold/Landing Semi Bold;
                font-family: PoppinReg;
                font-size: 24px;
                font-weight: 600;
                line-height: 51.32px;
                background: linear-gradient(270deg, #AE72FF 46.97%, #F2F2F2 93.64%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                /* For Firefox */
                background-clip: text;
                color: transparent;

            }

            h1 {
                font-family: PoppinReg;
                font-size: 20px;
                font-weight: 900;
                line-height: 36.54px;
                text-align: left;
                padding-right: 70px;
            }

            ul {
                margin-top: 10px;

                li {
                    color: #BBB8CA;
                    margin-left: 20px;
                    font-family: PoppinReg;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26.1px;
                    text-align: left;
                }
            }
        }

        .item-3 {
            width: 100%;
            height: 340px;
            display: flex;
            position: relative;
            margin: 0 70px;

            .text {
                h2 {
                    font-family: PoppinReg;
                    font-size: 24px;
                    font-weight: 600;
                    background: linear-gradient(244.65deg, #AE72FF 92%, #F2F2F2 78%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;

                }

                h1 {
                    font-family: Poppin;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 36.54px;
                    text-align: left;
                    color: #E7E7E7;
                    width: 463px;
                }

                ul {
                    padding-left: 20px;

                    li {
                        font-family: PoppinReg;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                        color: #BBB8CA;

                    }
                }
            }

            .img {
                position: absolute;
                width: 552px;
                height: 260px;
                top: 0;
                right: 0;

                img {
                    width: 100%;
                }
            }

            .info {
                background: #202428;
                border: 2.5px solid #DC6794;
                box-shadow: 0px 6px 71px 0px #9747FF80;
                width: 260px;
                height: 50px;
                z-index: 5;
                text-align: center;
                position: absolute;
                bottom: 315px;
                left: 800px;
            }

        }
    }
}


.fourth-container {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/photos/image.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    margin: 0 auto;

    .main {
        background: linear-gradient(242.44deg, rgba(174, 125, 253, 0.2) -30.7%, rgba(36, 35, 55, 0.2) 36.93%, rgba(36, 35, 55, 0.2) 62.82%, rgba(122, 77, 243, 0.2) 129.61%);
        border: 2.5px solid #7A4DF3;
        width: 80%;
        height: 60%;
        margin: 10% 10%;
        padding: 50px;

        .item-1 {
            display: flex;
            background: transparent;
            justify-content: space-between;

            .left {
                width: 60%;
                height: 90%;
                padding: 20px;
                background: transparent;

                h2 {
                    font-family: Poppin;
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 41.76px;
                    text-align: left;
                    margin-top: 10px;
                    background: transparent;
                }

                p {
                    font-family: PoppinReg;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                    color: rgba(231, 231, 231, 1);
                    background: transparent;
                }

                .logos {
                    margin-top: 10px;
                    border-bottom: 1px solid white;
                    padding-bottom: 20px;
                    background: transparent;

                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        background: transparent;

                        li {
                            font-family: PoppinReg;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 30px;
                            text-align: left;
                            background: transparent;
                        }
                    }
                }

                h5 {
                    margin-top: 10px;
                    font-family: Poppin;
                    font-size: 20px;
                    font-weight: 200;
                    line-height: 31.32px;
                    text-align: left;
                    color: rgba(231, 231, 231, 1);
                    background: transparent;
                }

                .info {

                    margin: 10px 0;
                    width: fixed 646px;
                    height: Hug 60px;
                    padding: 17px 30px 17px 30px;
                    gap: 0px;
                    border-radius: 10px;
                    justify-content: space-between;
                    opacity: 0px;
                    background: rgba(14, 13, 20, 0.7);
                    border: 1px solid rgba(75, 74, 101, 1);

                }


                a {
                    background: transparent;
                    margin-top: 10px;
                    font-family: Poppin;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 26.1px;
                    text-align: left;
                    color: rgba(187, 184, 202, 1);

                }
            }

            .right {
                background: transparent;

                img {
                    background: transparent;
                    width: 200px;
                    height: 205px;
                }
            }
        }
    }
}




section {
    .frame-1 {
        width: 80%;
        height: 80vh;
        margin: 10vh 10%;

        h1 {
            font-family: Poppin;
            font-size: 70px;
            font-weight: 700;
            line-height: 70px;
            color: rgba(220, 218, 231, 1);
            text-align: center;

            span {
                background: linear-gradient(270deg, #DC6794 -28.49%, #9747FF 83.02%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
        }

        .div {
            margin: 70px auto;
            width: 600px;
            height: 375px;
            background: rgba(27, 26, 41, 1);
            border: 2px solid rgba(83, 58, 185, 0.5);
            box-shadow: 0px 1px 4px 0px rgba(122, 77, 243, 1);
            border-radius: 20px;
            position: relative;

            .item-1 {
                position: absolute;
                top: 20px;
                left: 20px;
                display: flex;
                gap: 15px;
                background-color: transparent;

                h2 {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 35px;
                    background-color: transparent;
                }

                button {
                    width: 60px;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 31.32px;
                    color: rgba(254, 254, 254, 1);
                    background-color: $purple;

                }
            }

            .item-2 {
                position: absolute;
                bottom: 20px;
                left: 20px;
                width: 280px;
                height: 245px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                background-color: transparent;

                p {
                    background-color: transparent;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 26.1px;
                    text-align: left;
                    color: rgba(187, 184, 202, 1);

                }

                button {
                    width: 240px;
                    height: 60px;
                    border-radius: 40px;
                    border: none;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 25px;
                    color: rgba(254, 254, 254, 1);
                    background-color: $purple;
                }
            }

            .item-3 {
                width: 270px;
                height: 245px;
                position: absolute;
                top: 107px;
                right: 20px;
                padding: 20px;
                background-color: transparent;

                ol {
                    list-style: none;
                    background-color: transparent;

                    li {
                        background-color: transparent;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 26.1px;
                        margin: 20px 0;
                        color: rgba(187, 184, 202, 1);

                        &::before {
                            content: "\2713";
                            color: $purple;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .frame-2 {
        width: 65%;
        height: 90vh;
        margin: 5vh 17.5%;
        margin-top: 100px;

        h2 {
            font-size: 45px;
            font-weight: 700;
            line-height: 58.72px;
            background: linear-gradient(270deg, #E7E7E7 -1.81%, #8247FF 84.22%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;

        }

        div {
            border-top: 1px solid gray;
            margin: 15px 0;
            position: relative;

            p {
                margin: 20px 0;
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                color: rgba(187, 184, 202, 1);

                &::after {
                    position: absolute;
                    right: 10px;
                    content: "\2715";
                    width: 36px;
                    height: 36px;
                    color: rgba(187, 184, 202, 1);

                }
            }

            span {
                margin: 15px 0;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: rgba(220, 218, 231, 1);

            }
        }
    }

    .frame-3 {
        width: 90%;
        height: 20vh;
        margin: 60vh 5% 0 5%;

        footer {
            width: 100%;
            padding: 20px 160px 20px 160px;
            gap: 30px;
            border-radius: 30px;
            opacity: 0px;

            .top {
                height: 70px;
                display: flex;
                justify-content: space-around;
                margin-bottom: 30px;

                img {
                    margin-top: 10px;
                }

                button {
                    border: none;
                    height: 40px;
                    margin-top: 14px;

                    &:hover {
                        width: 150px;
                        background-color: $purple;
                        border-radius: 20px;
                    }
                }
            }

            .bottom {
                margin: 0 auto;
                width: 80%;
                display: flex;
                justify-content: space-around;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: rgba(114, 114, 114, 1);


                }
            }
        }
    }
}

//? RESPONSIVE PAARTS 
@media only screen and (max-width: 1024px) {
    .first-container {
        height: 100vh;

        header {
            .logo {
                width: 130px;
                height: 28px;
            }

            .list {
                ul {
                    li {
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }


        }

        .main {
            width: 80%;
            height: 86vh;
            margin: 7vh 10%;

            h2 {
                // margin-left: 36px;

                line-height: 80px;
                font-weight: 700;
                font-size: 60px;
                font-family: poppin;
            }

            .input {
                p {
                    margin: 15px;
                    font-family: IBM Plex Mono;
                }
            }

            .btn {
                button {
                    width: 150px;
                    height: 50px;
                }

                p {
                    margin-top: 13px;

                }

            }

        }
    }

    //second part

    .second-container {
        // height: 50vh;

        .first-text {
            width: 775px;

        }

        .items {
            width: 90%;
            height: 50vh;
            margin: 0 auto;
            position: relative;

            .item-1 {
                width: (544px);
                height: 184px;
                border: 2.5px solid #533AB980;
                padding: 22px;
                gap: 20px;

                .logos {
                    width: 200px;
                    height: 84px;
                    gap: 12px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .code-section {
                    width: 249px;
                    height: 140px;

                    .under {
                        width: 202px;
                        height: 130px;
                    }

                    .top {
                        width: 248px;
                        height: 65px;
                        top: 30px;
                        border-radius: 6px;
                        padding: 6px;

                        span {
                            font-size: 11px;
                            line-height: 14px;
                        }

                        p {
                            font-size: 11px;
                            line-height: 17px;
                        }
                    }
                }
            }

            .item-2 {
                position: absolute;
                width: 341px;
                height: 235px;
                top: 30vh;
                left: 0;
                left: 50px;

                ol {
                    li {
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 14px;
                    }
                }

                p {
                    font-size: 10px;
                    line-height: 14px;
                    text-align: left;

                }
            }

            .item-3 {
                width: 341px;
                height: 190px;
                top: 32vh;
                padding: 12px;
                right: 50px;

                p {
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 15px;

                }
            }

            .item-4 {
                width: (187px);
                height: (38px);
                margin: 40px auto;
                font-size: 12px;
                font-weight: 400;
                line-height: 25px;
            }
        }
    }




    .third-container {
        width: 90%;
        margin: 50px 2%;

        .text-part {
            h2 {
                font-size: 36px;
                line-height: 46px;
            }
        }

        .main-part {
            height: 30vh;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;

            .item-1 {
                width: 332px;
                height: 173px;
                margin: 30px;
                padding: 15px;

                p {
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 10px;
                }
            }

            .item-2 {
                width: 386px;
                height: 291px;
                margin: 30px 0px;
                padding: 0px;

                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 31.32px;
                }

                h1 {
                    font-size: 20px;
                    font-weight: 900;
                    line-height: 24px;
                    padding-right: 0px;
                }

                ul {
                    margin-top: 0px;

                    li {
                        margin-left: 0px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                    }
                }
            }

            .item-3 {
                width: 742px;
                height: 322px;
                margin: 0px 0px;

                .text {
                    h2 {
                        font-family: PoppinReg;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 24px;
                    }

                    h1 {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 18px;
                        width: 329px;
                    }

                    ul {
                        padding-left: 0px;

                        li {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;

                        }
                    }
                }

                .img {
                    position: absolute;
                    width: 386px;
                    height: 175px;
                    top: 0;
                    right: 20px;

                    img {
                        width: 100%;
                    }
                }

                .info {

                    width: 260px;
                    height: 50px;
                    bottom: 305px;
                    left: 500px;
                }

            }
        }
    }



    //four
    .fourth-container {
        width: 100%;
        height: 60vh;
        margin: 0 auto;
        margin-top: 40vh;

        .main {
            width: 80%;
            height: 60%;
            margin: 10% 10%;
            padding: 50px;

            .item-1 {
                .left {
                    width: 90%;
                    height: 90%;
                    padding: 20px;
                }

                .right {
                    display: none;
                }
            }
        }
    }

    // five


    section {
        .frame-1 {
            width: 80%;
            height: 50vh;
            margin: 5vh 10%;

            h1 {
                width: 740px;
                font-size: 64px;
            }
        }

        .frame-2 {
            width: 65%;
            height: 40vh;
            margin: 5vh 17.5%;
            margin-top: 100px;

            h2 {
                width: 620px;
            }
        }

        .frame-3 {
            width: 90%;
            height: 50vh;
            margin: 40vh 5% 0 5%;

            footer {
                width: 100%;

                .top {
                    height: 130px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 30px;

                    img {
                        margin-top: 10px;
                    }

                    .img-1 {
                        width: 100% !important;
                        text-align: center;
                    }

                    .img-3 {
                        display: none;
                    }
                }
            }
        }
    }
}





@media only screen and (max-width: 430px) {
    .first-container {
        max-width: 100%;
        height: 115vh;
        background-size: 100%;
        background-repeat: no-repeat;
        header {
            margin: 20px;

            .logo {
                margin-top: 5px;
            }

            .list {
                display: none;
            }

            .btn {
                .login-btn {
                    display: none;
                }

                button {
                    width: 120px;
                    height: 45px;
                    background-color: $purple;
                    border-radius: 28px;
                }
            }
        }

        .main {
            width: 80%;
            height: 65vh;
            margin: 0vh 10%;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            gap: 50px;

            h2 {
                text-align: center;
                width: 320px;
                line-height: 66px;
                font-size: 44px;
                margin: 0 auto;
            }

            .input {
                width: 361px;
                height: 60px;

                p {
                    margin: 10px;
                }
            }

            .btn {
                display: none;
            }

            .text-area {
                width: 98%;
                height: 315px;
                padding: 10px;
                line-height: 12px;
                margin: 0 auto;
                font-size: 8px;

                p {
                    width: 248px;
                }
            }

        }
    }

    //! second part
    .second-container {
        display: none;
        
    }

    .third-container {
        width: 92%;
        margin: 100px 4%;
        height: 100vh;

        .text-part {
            text-align: center;
            margin: 30px auto;

            h2 {
                margin: 0 auto;
                font-family: Poppin;
                font-size: 28px;
                font-weight: 700;
                line-height: 36px;
                width: 320px;
            }

            p {
                display: none;
            }
        }

        .main-part {
            display: flex;
            flex-direction: column !important;
            height: 93vh;

            .border-1 {
                border: 2px solid rgba(122, 77, 243, 1);
                margin-bottom: 40px;
            }

            .item-1 {
                width: 310px;
                height: 170px;
                padding: 10px;
                margin: 10px auto;

                p {
                    font-size: 8px;
                    line-height: 10px;
                }
            }

            .item-2 {
                width: 310px;
                height: 200px;
                margin: 10px auto;
                padding: 0px;
                background-color: transparent;

                h2 {
                    font-size: 17px;
                    line-height: 20px;
                    background-color: transparent;
                }

                h1 {
                    background-color: transparent;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 20px;
                    text-align: left;
                    padding-right: 0px;
                    margin-top: 10px;
                }

                ul {
                    background-color: transparent;
                    margin-top: 10px;
                    padding-left: 15px;

                    li {
                        background-color: transparent;
                        font-size: 13px;
                        line-height: 17px;
                    }
                }
            }

            .item-3 {
                width: 394px;
                height: 395px;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                border: 2px solid rgba(220, 103, 148, 1);
                padding: 35px;

                .text {

                    h2 {
                        line-height: 20px;
                        font-size: 17px;
                        font-weight: 600;

                    }

                    h1 {
                        font-size: 18px;
                        line-height: 20px;
                        width: 329px;
                    }

                    ul {
                        padding-left: 15px;

                        li {
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
                }

                .img {
                    position: static;
                    width: 312px;
                    height: 146px;
                    margin: 20px 0;

                    img {
                        width: 100%;
                    }
                }

                .info {
                    display: none;
                }

            }
        }
    }


    .fourth-container {
        display: none;

    }




    section {
        .frame-1 {
            margin-bottom: 50vh;

            h1 {
                width: 259px;
                font-size: 44px;
                line-height: 66px;
                margin: 0 auto;

                span {

                    font-size: 44px;
                    font-weight: 700;
                    line-height: 66px;
                }
            }

            .div {
                margin: 70px auto;
                width: 361px;
                height: 468px;
                position: static;
                display: flex;
                flex-direction: column;
                padding: 30px;

                .item-1 {
                    position: static;
                    display: flex;

                    h2 {
                        font-size: 32px;
                        line-height: 35px;
                    }

                    button {
                        width: 60px;
                        height: 40px;

                    }
                }

                .item-2 {
                    position: static;
                    width: 280px;
                    height: 245px;
                    display: flex;
                    flex-direction: column;

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 26.1px;

                    }
                }

                .item-3 {
                    width: 270px;
                    height: 245px;
                    position: static;

                }
            }
        }

        .frame-2 {
            width: 80%;
            height: 20vh;
            margin: 5vh 10% 10vh 10%;
            margin-top: 100px;

            h2 {
                width: 242px;
                font-size: 28px;
                font-weight: 700;
                line-height: 36px;
            }

            div {
                display: none;
                border-top: 1px solid gray;
                margin: 15px 0;
                position: relative;

                p {
                    margin: 20px 0;
                    font-size: 19px;

                    &::after {
                        right: 0px;
                        content: "\2715";
                    }
                }

                span {
                    font-size: 18px;
                }
            }

            .one {
                display: block;
            }
        }

        .frame-3 {
            display: none;
       
        }
    }
}